<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta charset="UTF-8" />
    <title><%= t(:markus) %> - <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'main.css', :media => 'all' %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield :layout %>
  </body>
</html>
